@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232323;
  --foreground: #ffffff;

  --primary: #ff5958;
  --primary-foreground: #262626;

  --accent-gradient-from: #ff5958;
  --accent-gradient-stops: #262626;
}

body {
  color: var(--foreground);
  background: var(--background);
}
